// This file contains a few !importants but we are overwritting the material style

.mat-mdc-form-field {
  display: block;
}

.mat-mdc-form-field-infix {
  width: auto !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-text-field-wrapper {
  background-color: #f9f9f9;
  border-radius: 5px !important;

  @media (prefers-color-scheme: dark) {
    background-color: #ccc;
  }
}

div.mat-mdc-select-panel {
  background: #fff !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.mat-mdc-notch-piece {
  border: none !important;
}

.mat-mdc-select-arrow-wrapper {
  background: url('assets/imgs/arrow-down.svg') !important;
  background-size: 100% 100% !important;
}

.mat-mdc-option-active {
  background-color: #f1f6ff !important;
}

.mat-mdc-select-arrow {
  margin: 0 3px;
  visibility: hidden;
}

mat-pseudo-checkbox {
  display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-container {
  position: relative;

  &.symbol-left {
    input {
      padding-left: 35px;
    }

    .symbol {
      left: 15px;
    }
  }

  &.symbol-right {
    input {
      padding-right: 35px;
    }

    .symbol {
      right: 15px;
    }
  }

  .symbol {
    z-index: 1;
    position: absolute;
    top: calc(50% - 1px);
    transform: translateY(-50%);
  }
}

input {
  background-color: #f9f9f9;
  border-radius: 4px;
  border: none;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: none;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #ccc;
  }
}

input,
.mat-mdc-select-value,
.mdc-label {
  font-family: 'Neutral';
}

.full-width {
  width: 100%;
}
